/* reset */
$min-width: 320px; 
$max-width: 1560px; 
$base-bg: #fff; 
$base-font-size: 18px; 
$base-line-height: 1.5em; 
$base-font-family: 'Gilroy', sans-serif;
$default-transition:all 0.3s ease;


/* main variables */

$color-white:#fff;
$color-dark:#202020;
$color-red:#F05658;
$color-blue:#00BDD3;
$color-grey:#C5C5C5;
















