/* reset */
$min-width: 320px; 
$max-width: 1440px; 
$max-width-sm: 1200px; 
$base-bg: #fff; 
$base-font-size: 15px; 
$base-line-height: 1.87; 
$base-font-family: 'Roboto', sans-serif;
$custom-font-family: 'Akrobat', sans-serif;
$default-transition:all 0.3s ease;


/* main variables */
$color-dark:#343A43;
$color-blue:#1C4685;
$color-grey:#6A7480;
$color-blue-light:#A7BCD4;
$color-light:#F1F5F9;
$color-white:#fff;



////////////////////

$color-black:#111111;

$color-green:#82C226;


$color-light-grey:#ECECEC;

$color-dark-grey:#B7B7B7;
$color-dark-grey-text:#9B9A9A;


$color-orange:#F0A432;
$color-red:#F02C2C;









