/* reset */
$min-width: 320px; 
$max-width: 1120px; 
$base-bg: #fff; 
$base-font-size: 18px; 
$base-line-height: 23/18 * 100%; 
$base-font-family: 'Futura PT', sans-serif;
$default-transition:all 0.3s ease;


/* main variables */
$color-black:#000;
$color-brown:#695339;
$color-spell:#A48A6B;
$color-spell-bright:#A38D54;
$color-white:#fff;
$color-beige:#F8F6F1;
$color-red:#EE0101;
$color-light-grey: #E5E5E5;
$color-olive:#899472;
$color-grey:#595566;











