/* reset */
$min-width: 320px;
$max-width: 1280px;
$base-bg: #fff;
$base-font-size: 1rem;
$base-line-height: 1.625;
$base-font-family: "Noto Sans", sans-serif;
$custom-font-family: "Montserrat Alternates", sans-serif;
$default-transition: all 0.3s linear;

/* main variables */

$color-orange: #f2bc1b;
$color-deep-blue: #1d3176;
$color-blue: #3150b9;
$color-light-blue: #758ad1;
$color-light-blue-2: #e7ebf9;
$color-deep-red: #b4311f;
$color-red: #e84a34;
$color-light-red: #fc9c8f;
$color-light-red-2: #fee1dd;
$color-black: #181818;
$color-deep-grey: #333538;
$color-grey: #9d9ea2;
$color-blue-grey: #a1abb8;
$color-light-grey: #d6d7d9;
$color-light-grey-2: #f1f1f1;
$color-light-grey-3: #f8f8f8;
$color-white: #ffffff;
$color-green: #309e3b;
$color-light-green: #f1f9f5;
