
/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/

.footer{
    background: #151515;
    position: relative;  
    padding: 76px 0 76px;
    color: $color-white;

    .y-row{
        @include justify-content(space-between);
    }
    
    &-logo{
        width: 180px;
        display: block;
        margin-top: -20px;
        img{
            width:100%;
            display: block;
        }
    }
    
    &-title{
        font-weight: bold;
        margin-bottom: 16px;
    }
    &-nav{
        &-item{
            margin-bottom: 11px;
            &__link{
                color: $color-white;
                position: relative;
                &:after{
                    content: "";
                    position: absolute;
                    left: 0;
                    width: 0;
                    height: 1px;
                    background: $color-white;
                    transition: $default-transition;
                    bottom: 0;
                }
                &:hover{
                    &:after{
                        width: 100%;
                    }
                }
            }
        }
    }
    
    &-copy{
        color: #484848;
        text-align: center;
        margin-top: 40px;
    }
    
    &_white{
        background: none;
        .footer-copy{
            color: #E7E7E7;
        }
    }
  
}

.social{
    &-item{
        margin-right: 4px;
        display: inline-block;
        vertical-align: middle;
        &__link{
           color: $color-white;
            font-size: 21px;
            &:hover{
                opacity: 0.8;
            }
        }
    }
  
}



@media screen and (max-width: 1199px) {
    .y-col.footer-col-1{
        width: 100%;
    }
    .y-col.footer-col-3{
        width: 16.66%;
    }
}

@media screen and (max-width: 991px) {
    .footer{
        padding: 50px 0 40px;
    }
    .y-col.footer-col-2{
        width: 50%;
    }
    .y-col.footer-col-3{
        width: 50%;
    }
}

@media screen and (max-width: 740px) {
    .y-col.footer-col-2{
        display: none;
    }
    .footer .y-col{
        width: 100%;
        text-align: center;
    }
    .footer-logo{
        margin-left: auto;
        margin-right: auto;
    }
    .footer-copy{
        margin-top: 20px;
    }
}

@media screen and (max-width: 639px) {
    
   
    
    
}

@media screen and (max-width: 479px) {
   
}

@media screen and (max-width: 374px) {
    
}
