/* reset */
$min-width: 320px;
$max-width: 1280px;
$base-bg: #0013a6;
$base-font-size: 18px;
$base-line-height: 1.4719;
$base-font-family: "Roboto", sans-serif;
$custom-font-family: "Montserrat", sans-serif;

$default-transition: all 0.3s linear;

/* main variables */
$color-white: #fff;
$color-blue: #0013a6;
$color-blue-light: #00ffff;

$color-yellow: #ffd74c;
$color-grey: #555555;
