/* reset */
$min-width: 320px; 
$max-width: 1330px; 
$base-bg: #fff; 
$base-font-size: 18px; 
$base-line-height: 1.3; 
$base-font-family: 'Futura PT', sans-serif;
$default-transition:all 0.2s linear;


/* main variables */
$color-dark:#000;
$color-orange:#ff7600;
$color-blue:#01c8cf;
$color-blue-2:#03a2a8;


$color-orange-2:#FFA800;
$color-orange-3:#F9A108;
$color-grey:#A9A9A9;
$color-white:#fff;
$color-grey-dark:#838383;

$shadow:0px 15px 40px rgba(0, 0, 0, 0.15);
$shadow2: 0px 10px 20px rgba(0, 0, 0, 0.15);

$gradient:linear-gradient(90deg, $color-orange 0%, $color-orange-2 100%);

$color-red:#cd4141;







