/* reset */
$min-width: 320px; 
$max-width: 1170px; 
$max-width-sm: 1170px; 
$base-bg: #FFF; 
$base-font-size: 16px; 
$base-line-height: 1.3; 
$base-font-family: 'MuseoSansCyrl', sans-serif;

$link-color: #df4f48;
$default-transition:all 0.2s linear;

/* main variables */

$color-dark: #212121;
//$color-green: #759f05;
$color-green: #04cb07;
$color-white: #fff;
$color-red: #df4e49;
$color-black: #1f1f1f;
$color-grey: #4c5055;

$color-blue:blue;




